.carousel {
  width: 100%;
  height: 232px;
  border: 1px solid;
}

.swiper {
  width: 1353px;
  height: 100%;
  border: 1px solid;
}

.swiperSlider {
  font-size: 32px;
  background: var(--color-white);

  /* Center slide text vertically   */
  display: flex;
  justify-content: center;
  align-items: center; 
}
.swiperButtons {
  position: relative;
  bottom: 150px;
  width: 1383px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.swiperButtonNext,
.swiperButtonPrev {
  font-size: 32px;
  color: var(--base-color);
}
.swiperButtonNext:after,
.swiperButtonPrev:after {
  /* left:20px;
  right:20px; */
}

.swiper-button-next:after,
.swiper-button-prev:after {
  /* position: absolute; */
  /* left:20px;
  right:20px; */
}

/* .swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 32px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
} */
