.search {
  background-color: white;
  width: 568px;
  height: 48px;
  border: solid var(--color-black) 1px;
  border-radius: 8px 0px 0px 8px;
  font-size: 16px;
  padding: 0px 10px;
  font-family: var(--base-font);
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 66px;
  height: 100%;
  border-bottom: solid var(--color-black) 1px;
  border-top: solid var(--color-black) 1px;
  border-right: solid var(--color-black) 1px;
  border-radius: 0px 8px 8px 0px;
  font-size: 16px;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 48px;
}

.searchIcon {
  color: var(--color-black);
}
